<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xp.graduation.mapper.ScoreFormMapper">
    <!--成绩表插入-->
    <insert id="insertScoreForm" useGeneratedKeys="true" keyProperty="id">
        insert into scoreform(username,pname,companyname,teacher,companyStatus,teaStatus,status)
        values(#{username},#{trainingSchedule.pname},#{trainingSchedule.companyname},#{teacher},'0','0','0')
    </insert>
    <!--根据学生名查询实训状态-->
    <select id="findStatus" resultType="java.lang.String">
        select status from scoreform where username = #{username}
    </select>
    <!--添加实训报告到成绩表-->
    <update id="updateDoc">
        update scoreform set reportDoc = #{filename} where username = #{username} and status = '0'
    </update>
    <!--根据学生名查询所有已完成的实训项目成绩-->
    <select id="selectScore" resultType="com.xp.graduation.bean.ScoreForm">
        select username,pname,companyname,companyresult,teacherresult,teacher
        from scoreform where username = #{username} and status = '1'
    </select>
    <!--查询教师名下的所有学生成绩-->
    <select id="selectStuScorce" resultType="com.xp.graduation.bean.ScoreForm">
        select username,pname,teacherresult,teastatus
        from scoreform where teacher = #{teacher}
    </select>
    <!--查询企业名下的所有学生成绩-->
    <select id="comSelectStuScorce" resultType="com.xp.graduation.bean.ScoreForm">
        select username,pname,companyresult,companystatus
        from scoreform where companyname = #{companyname}
    </select>
    <!--教师进行成绩评价-->
    <update id="updateStuScore">
        update scoreform set teacherresult = #{sturesult},teaStatus = '1' where username = #{stuname}
    </update>
    <!--企业进行成绩评价-->
    <update id="comUpdateStuScore">
        update scoreform set companyresult = #{sturesult},companyStatus = '1' where username = #{stuname}
    </update>
    <!--根据学生名查询未结束的项目名-->
    <select id="selectPname" resultType="java.lang.String">
        select pname from scoreform where username = #{username} and status = '0'
    </select>
    <!--反馈后修改实训项目状态-->
    <update id="updateStatus">
        update scoreform set status = '1' where username = #{username}
    </update>
</mapper>